@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h2 {
    font-size: 32px;
    /* text-transform: uppercase; */
}

span {
    font-size: 22px;
}

.toggle-container {
    display: flex;
   flex-direction: row;
   align-items: flex-start;
    margin: 10px 0;
    width: 500px;
}

.toggle {
    visibility: hidden;
}

.label {
    position: relative;
    background-color: pink;
    border-radius: 25px;
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0;
    width: 80px;
    height: 40px;
}

.toggle:checked + .label {
    background-color: #29B2FBff;
}

.ball {
    background: white;
    border: 1px solid;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    align-items: center;
    justify-content: center;
    animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
    animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
    0% {
        transform: translateX(0) 
    }
    50% {
        transform: translateX(20px) 
    }
    100% {
        transform: translateX(40px) 
    }
}

@keyframes slideOff {
    0% {
        transform: translateX(40px) 
    }
    50% {
        transform: translateX(20px) 
    }
    100% {
        transform: translateX(0) 
    }
}